<div class="row flex-column">
    <div *ngFor='let post of listing; let i = index' class="card my-3 shadow-sm rounded">
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-auto" [ngClass]="{'order-1': i % 2 === 0}" >
                <img src="../../../../../../assets/user.png" alt="User">
            </div>
            <div class="col">
                <h5 class="card-title mt-4" [ngClass]="{'text-right': i % 2 === 0}">{{ post.title }}</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
                <p class="card-text">{{ post.body }}</p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
                <a routerLink="/user/{{ post.userId }}" class="card-link">User link</a>
                <a routerLink="/post/{{ post.id }}" class="card-link">Post link</a>
            </div>
          </div>
        </div>
    </div>
</div>