<div class="alert mt-3 mx-4" [ngClass]="{'alert-info ': i % 2 !== 0, 'alert-success ': i % 2 === 0}" 
*ngFor='let comment of comments; let i = index' >
    <p>{{ comment.body }}</p>
    <hr class="mb-0">
    <p class="m-0"><b>{{ comment.email }}</b><b class="float-right">{{ timeNow | date:'shortTime' }}</b></p>
</div>