<div class="row">
  <div class="col-12">
      <div class="card shadow-sm rounded mt-4">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ user ? user.name : '' }}</h6>
            <div class="dropdown-divider"></div>
            <p class="card-text mt-3">{{ post.body }}</p>
          </div>
        </div>
  </div>
</div>
<div class="row">
    <div class="col-12">
        <app-comment [postId]='post.id'></app-comment>
    </div>
  </div>