<nav class="navbar sticky-top navbar-light bg-light shadow-sm">
  <a routerLink="/">
    <span class="navbar-brand mb-0 h1">Test Front End</span>
  </a>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>