<div class="row">
  <div class="col-12">
    <div class="card my-3 shadow-sm rounded">
      <div class="card-body pt-1">
        <div class="row">
          <div class="col-auto">
            <img src="../../../../../../assets/user.png" alt="User">
          </div>
          <div class="col">
              <h4 class="card-title mt-2">{{ user.name }}</h4>
              <div class="row">
                <div class="col-5">
                    <p class="card-text"><strong>Username: </strong> {{ user.username }} </p>
                    <p class="card-text"><strong>Email: </strong> {{ user.email }} </p>
                </div>
                <div class="col">
                    <p class="card-text"><strong>Phone: </strong> {{ user.phone }} </p>
                    <p class="card-text"><strong>Website: </strong> {{ user.website }} </p>
                </div>
              </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
              <p class="mb-0"><strong>Address</strong></p>
              <p>{{ userAddress }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <p class="mb-0"><strong>Company</strong></p>
              <p class="text-truncate">{{ user.company.name }}. {{ user.company.catchPhrase }}. ({{ user.company.bs }})</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>